        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        input[type="text"], input[type="number"], select {
            box-sizing: border-box;
        }



button, input[type=submit], select, input[type=number], input[type=text]{
  padding: 5px 5px;
  /*margin: 3px 3px;*/
  cursor: pointer;
  background-color: #fff	;
  font-size:16px;
  border-radius: 4px;
}

input[type=number]{
	width:60px;
  text-align: center;

}

input[type=checkbox]{
	width:20px;
	height:20px;

}


.tab {
	margin: 3px 3px;
}

.active-tab {
	background-color: #0087b7; /* Change this to the color you want when clicked */
	color: white; /* Optional: change text color */
 }

.add-button{
	background-color: #0087b7;
	color:white;
	border-color:white;
	font-size:32px;
	padding:10px;
	
}


input{width: auto;}

select{
width:170px;
 border-radius: 4px; }

#layersTable .rightalign {
	text-align:center;
}
th {
vertical-align: text-top;
}


body{
font-family: neue-haas-unica,sans-serif;
color: #495057;
font-size: 16px;
background-color: #fffbfb; /*alternative #eee for light grey */
margin:0px;	
}

  .container
{
    padding-left: 100px;
    padding-right: 100px;
	position: relative
  }
  
  .layout-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 64px;
  box-shadow: 0 1px 3px #646464;
  padding: 0 10px;
  margin: 0px;
}

.layout-header .logo, .layout-header .tool-logo
{
  height: 50px;
  max-height: 50px;
}


.data-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
}

.total-row{
	font-weight: bold;
	background-color: #f2f2f2;
}


/*
table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row color 
}

table tbody tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover 
}

table th {
    padding: 12px 15px; /* Adds consistent spacing 
    border-bottom: 2px solid #ddd; /* Divider for clarity 
}
*/
